*
!.alias
!.alias_local
!.bashrc_local
!.dir_colors
!.tmux
!.tmux.conf
!.tmux_local.conf
!.vimrc
!.zshrc
!.gitignore

!Dockerfile
!cheatsheet
!setup.sh
!rde
!.gdbinit
!pretty-printer-libcxx-gdb
!pretty-printer-libcxx-gdb/libcxx
!pretty-printer-libcxx-gdb/libcxx/*
!pretty-printer-libcxx-gdb/libcxx/v1/*
